<div class="email-card">
	<p><strong>Subscribe to get my latest posts by email.</strong></p>
	<form action="https://getsimpleform.com/messages?form_api_token=01450773374acfdb8a4888c8044f4d1b" method="post">
	  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
	  <input type='hidden' name='redirect_to' value='{{site.url}}/thanks' />
	  <div style="display:flex; justify-content: center;">
	    <input type='email' placeholder='Your email here' name='email' required />
	    <input type='submit' value='Subscribe' />
	  </div>
	</form>
</div>