---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-footer {
	padding: 15px 0; 
}

.highlight-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: $spacing-unit/3;
  background-color: lighten($brand-color, 30%);
}

.highlight-card p {
	margin-bottom: 0px;
}

#mc_embed_signup {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

#mc_embed_signup input[type=submit] {
  background-color: lighten($brand-color, 20%);
}

blockquote {
  letter-spacing: 0px;
}