---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-footer {
	padding: 15px 0; 
}

.highlight-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: $spacing-unit/3;
  background-color: lighten($brand-color, 30%);
}

.highlight-card p {
	margin-bottom: 0px;
}

blockquote {
  letter-spacing: 0px;
  font-size: 16px;
}

h3, h4, h5 {
  font-weight: 600
}

.note {
  color: #084298;
  background-color: #cfe2ff;
  padding: 16px;
  margin-bottom: 15px;
  border-radius: 0.375rem;
}

.note a {
  text-decoration: underline;
}

.popular-posts {
  margin-bottom: 3rem;
}

.post-list-heading {
  font-weight: 500; 
}

.post-list > li {
  margin-bottom: 1.5rem;
}

.post-link {
  font-size: 1.25rem;
  font-weight: 500;
}

.post-content h5 {
  font-size: 18px;
}